// old colors
$color-yellow: #fff500;
$color-brown: #80422e;

// colors
$color-green: #50D18E; // rgba(80, 209, 142, 0.2)
$color-black: #333333;
$color-gray: #f5f5f5;

// breakpoints
$tablet: 556px;
$desktop: 960px;

// gutters
$gutter-mobile: 16px;
$gutter-desktop: 32px;

// max-width
$max-width: 1024px;

// fonts
$font-primary: 'Montserrat', Arial, Helvetica, sans-serif;
// $font-secondary: 'Lobster', Arial, Helvetica, sans-serif;
